<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="/styles.css">

        <title>Inventory App</title>
    </head>
    <body>
        <nav class="nav">
            <div class="nav__logo">
                <a href="/">
                    <h1>Vout</h1>
                </a>
            </div>
            <div class="nav__items">
                <a href="/menu" class="nav__item nav__item--menu" id="nav-menu">Menu</a>
                <a href="/about" class="nav__item nav__item--menu" id="nav-about">About</a>
                <a href="/admin" class="nav__item nav__item--menu" id="nav-admin">Admin</a>
            </div>
        </nav>
        <main>
            <div class="content__heading">
                <h1><%= item.name %></h1>
                <p class="item--category"><%= item.category.name %></p>
            </div>
            <p><%= item.description %></p>
            <p>Price: $<%= item.price %></p>
        </main>
    </body>
</html>
