:root {
    /* Custom Colors */
    --c-primary: #2ecc71;
    --c-on-primary: hsl(145, 66%, 16%);

    --c-secondary: #6c5ce7;

    --c-accent: #ff9900;

    --c-background: #f5f5f5;

    --c-text: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, Arial, sans-serif;
    line-height: 1.5;
    background-color: var(--c-background);
    color: var(--c-text);
}

main {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

/* nav */

.nav {
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--c-primary);
    color: var(--c-on-primary);
}

.nav__item {
    margin-inline: 0.5rem;
}

.nav__item[id="nav-admin"] {
    margin-inline-end: 0;
}

/* Section Heading */
.content__heading {
    margin-block: 1.5rem;
}

/* Menu Page */
.content__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
}

.item {
    background-color: #fff;
    border-radius: 5px;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.item:hover {
    transform: translateY(-5px);
}

.item a {
    color: var(--c-secondary); /* Purple item link color */
    text-decoration: none;
}

.item h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #333; /* Darker item title */
}

.item--category {
    color: #999;
    font-style: italic;
}

.item p {
    margin-bottom: 0.5rem;
}

/* item edit list page */
.items--list {
    grid-template-columns: 1fr;
}

.items--list .item {
    display: flex;
    justify-content: space-between;
}

.items--list .btns {
    display: flex;
    align-items: center;
    gap: 0.50rem
}

.items--list .btns .btn {
    padding: 0.5rem 0.5rem;
    font-size: 0.75rem;
    color: var(--c-background);
}

/* Form styles */
.content__form {
    max-width: min(100%, 30rem);
    margin-inline: auto;
    padding: 3rem;

    display: flex;
    flex-direction: column;

    text-align: left;

    border-radius: 5px;

    background-color: var(--c-background);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content__form input, 
.content__form select {
    margin-block-end: 1rem;
    padding: 0.25rem;
    font-size: 1rem;
}


/* Button styles */
.btn {
    background-color: var(--c-primary); /* Purple button background */
    color: var(--c-background);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--c-on-primary); /* Darker purple on hover */
}